In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('medical_appointment_no_show.csv')

In [3]:
print("Initial Shape:", df.shape)

Initial Shape: (110527, 14)

In [4]:
df.head

<bound method NDFrame.head of            PatientId  AppointmentID Gender          ScheduledDay  \
0       2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1       5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2       4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3       8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4       8.841186e+12        5642494      F  2016-04-29T16:07:23Z
...              ...            ...    ...                   ...
110522  2.572134e+12        5651768      F  2016-05-03T09:15:35Z
110523  3.596266e+12        5650093      F  2016-05-03T07:27:33Z
110524  1.557663e+13        5630692      F  2016-04-27T16:03:52Z
110525  9.213493e+13        5630323      F  2016-04-27T15:09:23Z
110526  3.775115e+14        5629448      F  2016-04-27T13:30:56Z

              AppointmentDay  Age      Neighbourhood  Scholarship  \
0       2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0
1       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
2       2016-04-29T00:00:00Z   62      MATA DA PRAIA            0
3       2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0
4       2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0
...                      ...  ...                ...          ...
110522  2016-06-07T00:00:00Z   56        MARIA ORTIZ            0
110523  2016-06-07T00:00:00Z   51        MARIA ORTIZ            0
110524  2016-06-07T00:00:00Z   21        MARIA ORTIZ            0
110525  2016-06-07T00:00:00Z   38        MARIA ORTIZ            0
110526  2016-06-07T00:00:00Z   54        MARIA ORTIZ            0

        Hipertension  Diabetes  Alcoholism  Handcap  SMS_received No-show
0                  1         0           0        0             0      No
1                  0         0           0        0             0      No
2                  0         0           0        0             0      No
3                  0         0           0        0             0      No
4                  1         1           0        0             0      No
...              ...       ...         ...      ...           ...     ...
110522             0         0           0        0             1      No
110523             0         0           0        0             1      No
110524             0         0           0        0             1      No
110525             0         0           0        0             1      No
110526             0         0           0        0             1      No

[110527 rows x 14 columns]>

In [5]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [6]:
print("Missing Values:\n", df.isnull().sum())

Missing Values:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [7]:
df = df.drop_duplicates()

In [8]:
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (110527, 14)

In [9]:
df['Gender'] = df['Gender'].str.upper()
df['Neighbourhood'] = df['Neighbourhood'].str.title()

In [10]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [11]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [12]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [13]:
df = df[df['age'] >= 0]

In [14]:
df.to_csv('medical_appointments_cleaned.csv', index=False)

In [15]:
summary = {
    "Initial Shape": df.shape,
    "Removed Duplicates": "Yes",
    "Handled Nulls": df.isnull().sum().to_dict(),
    "Standardized Columns": list(df.columns),
    "Date Columns Converted": ["scheduledday", "appointmentday"],
    "Fixed Data Types": {"age": "int/float"},
}
print("\nSummary of Cleaning:\n", summary)

Summary of Cleaning:
 {'Initial Shape': (110526, 14), 'Removed Duplicates': 'Yes', 'Handled Nulls': {'patientid': 0, 'appointmentid': 0, 'gender': 0, 'scheduledday': 0, 'appointmentday': 0, 'age': 0, 'neighbourhood': 0, 'scholarship': 0, 'hipertension': 0, 'diabetes': 0, 'alcoholism': 0, 'handcap': 0, 'sms_received': 0, 'no-show': 0}, 'Standardized Columns': ['patientid', 'appointmentid', 'gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'], 'Date Columns Converted': ['scheduledday', 'appointmentday'], 'Fixed Data Types': {'age': 'int/float'}}